<div class="flex items-center">
    <input type="text" placeholder="Search" [(ngModel)]="query" class="p-2 border border-gray-300 rounded mr-2 focus:outline-none focus:border-blue-500">
    <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600" (click)="onQuery()">Search</button>
  </div>

  <div *ngIf="queryResult" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let movie of queryResult.results" class="border rounded-lg overflow-hidden shadow-lg" style="width: 300px;">
      <div class="p-4">
        <p class="text-lg font-semibold mb-2">{{movie.title}}</p>
      </div>
      <div *ngIf="movie.release_date == null || movie.release_date.length === 0" class="p-4">
        <p class="text-lg font-semibold mb-2">Movie hasn't released yet</p>
      </div>
      <img *ngIf="movie.release_date != null && movie.release_date.length != 0" [src]="'https://image.tmdb.org/t/p/w400/'+movie.poster_path" alt="{{movie.title}}" class="h-auto w-full">
    </div>
  </div>
  
  
  