<div *ngIf="selectedSerie === undefined" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let serie of series" class="border rounded-lg overflow-hidden shadow-lg" style="width: 300px;">
        <div (click)="onMediaClick(serie)">
          <div class="p-4">
            <p class="text-lg font-semibold mb-2">{{serie.name}}</p>
            <p>First air Date: {{formatDate(serie.first_air_date)}}</p>
          </div>
          <img [src]="'https://image.tmdb.org/t/p/w400'+serie.poster_path" alt="{{serie.name}}" class="h-auto w-full">
        </div>
      </div>
 </div>

 <div *ngIf="selectedSerie !== undefined && selectedSeason == undefined" class="max-w-xs mx-auto relative">
    <button (click)="makeSelectedSerieUndefined()" class="absolute top-4 left-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</button>
    <img [src]="'https://image.tmdb.org/t/p/w500'+ selectedSerie.poster_path" alt="{{selectedSerie.name}}" class="h-auto rounded-lg mb-4">
  
    <div *ngFor="let season of selectedSerie.seasons" >
        <div (click)="onSeasonClick(season.season_number)" class="bg-white rounded-lg shadow-lg p-4 mb-4">
      <p class="text-lg font-semibold mb-2">{{ season.name }}</p>
    </div>
    </div>
  </div>

  <div *ngIf="selectedSeason !== undefined" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <button (click)="makeSeasonUndefined()" class="absolute top-4 left-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</button>
    <div *ngFor="let episode of selectedSeason.episodes" class="bg-white rounded-lg shadow-md overflow-hidden">
        <div (click)="onEpisodeClick(episode)">
        <img [src]="'https://image.tmdb.org/t/p/w500'+episode.still_path" alt="{{episode.name}}" class="h-auto w-full object-cover">
        <div class="p-4">
            <p class="text-gray-500 text-sm">Episode {{episode.episode_number}}</p>
            <p class="text-lg font-semibold">{{episode.name}}</p>
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 0c-.265 0-.52.105-.707.293L6 4.586 1.707 0 0 1.707 4.586 6l-4.293 4.293L0 13.414l6 6 6-6-1.293-1.293L7.414 13 10 10.414 12.586 13l1.293-1.293-6-6L10 0zm0 3.414L11.586 5 10 6.586 8.414 5 10 3.414zM6 12.414L4.586 11 3.172 12.414 6 15.243l7.828-7.829-1.414-1.414-6.414 6.414z" clip-rule="evenodd"/>
                </svg>
                <p>{{episode.vote_average}}</p>
            </div>
        </div>
    </div>
    </div>
</div>
